{% extends '@book/layout-book.html.twig' %}

{% import '@book/macros/book.html.twig' as book %}

{% block pageTitle %}Contents{% endblock %}

{% block content %}
    <div class="blogPage blogIndex">
        <h1>Table of Contents</h1>
        {% if chapters %}
            {% for chapter in chapters %}
                {{ book.indexPagePost(chapter) }}
            {% endfor %}
        {% else %}
            <div class="bg-warning">
                No content yet
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ book.tableOfContents(chapters,0) }}
{% endblock %}
