{% extends '@book/layout-book.html.twig' %}

{% import '@book/macros/book.html.twig' as book %}

{% block pageTitle %}{{ chapter.subject }}{% endblock %}

{% block content %}
    <div class="blogPage blogPageSinglePost">
        {{ book.singlePagePost(chapter) }}
    </div>
{% endblock %}

{#{% block sidebar %}#}
    {#{{ parent() }}#}
    {#<div class="well">#}
        {#<a href="{{ path('blog.index') }}">Back to blog index</a>#}
    {#</div>#}
{#{% endblock %}#}
