{% extends '@blog/layout-blog.html.twig' %}

{% import '@blog/macros/blog.html.twig' as blog %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div>
        <h1>Blog index</h1>
        {% if posts %}
            {% for post in posts %}
                {{ blog.indexPagePost(post) }}
            {% endfor %}
        {% else %}
            <div class="bg-warning">
                No posts yet
            </div>
        {% endif %}
    </div>
{% endblock %}
